.rbc-row-content {
  z-index: 0 !important;
}

.rbc-calendar, .rbc-toolbar button {
  font-family: Segoe UI Light, Gulim, Lucida Sans Unicode, Arial;
}


#popover-trigger-click-root-close {
  text-align: center;
  z-index: 10000;
}

#popover-trigger-click-root-close .popover-header{
  padding: 10px;
}

.popover-body button{
  font-weight: bold;
  border: 0px;
  color: #fff;
  background-color: #ad2d2d;
  padding-left: 15px;
  padding-right: 15px;
  line-height: 30px;
  height: 32px;
  font-size: 9pt;
}

.theme-entry span.eventTitle {
	color: #FFF;
	font-weight: bold;
}