.App {
  text-align: center;
}
  
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
  
.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}
  
.App-title {
  font-size: 1.5em;
}
  
.App-intro {
  font-size: large;
}
  
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.rbc-row-content {
  z-index: 0 !important;
}

.rbc-calendar, .rbc-toolbar button {
  font-family: Segoe UI Light, Gulim, Lucida Sans Unicode, Arial;
}

.rbc-event-content div,
.rbc-agenda-event-cell div,
.rbc-agenda-time-cell span {
  color: white !important;
}

.rbc-event-content div .eventTitle,
.rbc-agenda-event-cell div .eventTitle{
  color: white !important;
  font-weight: bold !important;
}



#popover-trigger-click-root-close {
  text-align: center;
  z-index: 10000;
}

#popover-trigger-click-root-close .popover-header{
  padding: 10px;
}

.popover-body button{
  font-weight: bold;
  border: 0px;
  color: #fff;
  background-color: #ad2d2d;
  padding-left: 15px;
  padding-right: 15px;
  line-height: 30px;
  height: 32px;
  font-size: 9pt;
}