.rbc-row-content {
  z-index: 0 !important;
}

.rbc-calendar, .rbc-toolbar button {
  font-family: Segoe UI Light, Gulim, Lucida Sans Unicode, Arial;
}


#popover-trigger-click-root-close {
  text-align: center;
  z-index: 10000;
}

#popover-trigger-click-root-close .popover-header{
  padding: 10px;
}

.popover-body button{
  font-weight: bold;
  border: 0px;
  color: #fff;
  background-color: #ad2d2d;
  padding-left: 15px;
  padding-right: 15px;
  line-height: 30px;
  height: 32px;
  font-size: 9pt;
}

.theme-entry span.eventTitle {
	color: #FFF;
	font-weight: bold;
}

.App {
	position: relative;
}

.dcc-spinner {
   width: 8px;
   height: 8px;
   border-radius: 8px;
   box-shadow: 20px 0px 0 0 rgba(133,133,136,0.2), 16.2px 11.8px 0 0 rgba(133,133,136,0.4), 6.2px 19px 0 0 rgba(133,133,136,0.6), -6.2px 19px 0 0 rgba(133,133,136,0.8), -16.2px 11.8px 0 0 #858588;
   animation: spinner-b87k6z 1s infinite linear;
   left: 50%;
   top: 30px;
   position: absolute;
}

@keyframes spinner-b87k6z {
   to {
      transform: rotate(360deg);
   }
}

.App .dcc-tasks-loader{
	display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #CCC9;
    z-index: 5;	
	margin:0 auto;
}